In [6]:
import pandas as pd
import dec
from epw_code import epw
import numpy as np
import datetime

In [7]:
nameFile='/home/ict4bd/Desktop/Atene/creation_epw/station_data/LGAV_from_2013-01-01_to_2013-12-31.csv'
#nameFile='/home/ict4bd/Desktop/Atene/creation_epw/station_data/LGAV_from_2014-01-01_to_2015-12-31.csv'
#nameFile='/home/ict4bd/Desktop/Atene/creation_epw/station_data/LGAV_from_2015-01-01_to_2015-12-31.csv'
meteo_df=pd.read_csv(nameFile,index_col='Date_Time',parse_dates=[0,])
meteo_df

,Temperature_C,Dew_Point_C,Humidity,Wind,Speed_m/s,Gust_m/s,Pressure_Pa,Precipitation_mm,UV,Solar_W/m2
Date_Time,,,,,,,,,,
2013-01-01 23:50:00,11.111111,6.111111111,71,22.5,3.129191,0.0,100868.94,0,NaN,NaN
2013-01-01 00:20:00,11.111111,6.111111111,71,0.0,3.576218,0.0,100868.94,0,NaN,NaN
2013-01-01 00:50:00,11.111111,6.111111111,71,0.0,3.129191,0.0,100868.94,0,NaN,NaN
2013-01-01 01:20:00,11.111111,6.111111111,71,0.0,3.129191,0.0,100868.94,0,NaN,NaN
2013-01-01 02:20:00,11.111111,6.111111111,71,0.0,2.682164,0.0,100868.94,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2013-12-31 21:20:00,8.888889,3.888888889,71,0.0,3.576218,0.0,101139.82,0,NaN,NaN
2013-12-31 21:50:00,8.888889,2.777777778,66,22.5,4.023245,0.0,101139.82,0,NaN,NaN
2013-12-31 22:20:00,8.888889,2.777777778,66,0.0,3.576218,0.0,101139.82,0,NaN,NaN
2013-12-31 22:50:00,8.888889,2.777777778,66,22.5,4.023245,0.0,101139.82,0,NaN,NaN
2013-12-31 23:20:00,8.888889,2.777777778,66,22.5,3.129191,0.0,101139.82,0,NaN,NaN

In [8]:
meteo=meteo_df.resample('H').mean().interpolate()
meteo.head()

,Temperature_C,Humidity,Wind,Speed_m/s,Gust_m/s,Pressure_Pa,Precipitation_mm,UV,Solar_W/m2
Date_Time,,,,,,,,,
2013-01-01 00:00:00,11.111111,71.0,0.00,3.352705,0.0,100868.94,0.0,NaN,NaN
2013-01-01 01:00:00,11.111111,71.0,0.00,3.129191,0.0,100868.94,0.0,NaN,NaN
2013-01-01 02:00:00,11.111111,71.0,11.25,2.682164,0.0,100868.94,0.0,NaN,NaN
2013-01-01 03:00:00,11.111111,71.0,11.25,4.023245,0.0,100767.36,0.0,NaN,NaN
2013-01-01 04:00:00,10.000000,71.5,101.25,1.117568,0.0,100767.36,0.0,NaN,NaN

In [9]:
meteo=meteo.drop(columns=['Solar_W/m2', 'UV'])
meteo.head()

,Temperature_C,Humidity,Wind,Speed_m/s,Gust_m/s,Pressure_Pa,Precipitation_mm
Date_Time,,,,,,,
2013-01-01 00:00:00,11.111111,71.0,0.00,3.352705,0.0,100868.94,0.0
2013-01-01 01:00:00,11.111111,71.0,0.00,3.129191,0.0,100868.94,0.0
2013-01-01 02:00:00,11.111111,71.0,11.25,2.682164,0.0,100868.94,0.0
2013-01-01 03:00:00,11.111111,71.0,11.25,4.023245,0.0,100767.36,0.0
2013-01-01 04:00:00,10.000000,71.5,101.25,1.117568,0.0,100767.36,0.0

In [31]:
#retrieve year 
name_csv=nameFile.split("/")[-1]
start_date=a.split("_")[-3]
year=b.split("-")[-3]

In [32]:
time_vector = pd.date_range(start='1/1/'+str(int(year)), end='1/1/'+str(int(year)+1), freq='H')
newdf = pd.DataFrame(index=time_vector, columns=meteo.columns)
newdf.drop(newdf.tail(1).index,inplace=True) # drop last 1 rows
newdf

,Temperature_C,Humidity,Wind,Speed_m/s,Gust_m/s,Pressure_Pa,Precipitation_mm
2013-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-01-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-01-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-01-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-01-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
2013-12-31 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-12-31 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-12-31 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-12-31 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-12-31 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
newdf.loc[meteo.index, meteo.columns] = meteo.loc[meteo.index, meteo.columns]
newdf

,Temperature_C,Humidity,Wind,Speed_m/s,Gust_m/s,Pressure_Pa,Precipitation_mm
2013-01-01 00:00:00,11.111111,71.0,0.00,3.352705,0.0,100868.94,0.0
2013-01-01 01:00:00,11.111111,71.0,0.00,3.129191,0.0,100868.94,0.0
2013-01-01 02:00:00,11.111111,71.0,11.25,2.682164,0.0,100868.94,0.0
2013-01-01 03:00:00,11.111111,71.0,11.25,4.023245,0.0,100767.36,0.0
2013-01-01 04:00:00,10.000000,71.5,101.25,1.117568,0.0,100767.36,0.0
...,...,...,...,...,...,...,...
2013-12-31 19:00:00,8.888889,71.0,0.00,3.799732,0.0,101139.82,0.0
2013-12-31 20:00:00,8.888889,71.0,0.00,2.682164,0.0,101139.82,0.0
2013-12-31 21:00:00,8.888889,68.5,11.25,3.799732,0.0,101139.82,0.0
2013-12-31 22:00:00,8.888889,66.0,11.25,3.799732,0.0,101139.82,0.0
2013-12-31 23:00:00,9.444444,71.0,22.50,3.352705,0.0,101089.03,0.0

In [34]:
import time
from datetime import timedelta

df0 = newdf.copy()
mask = newdf.isna()
missing_values_time = df0["Temperature_C"][mask["Temperature_C"]].index

while df0["Temperature_C"].isna().any():
    try:
        df0.loc[missing_values_time] = df0.loc[missing_values_time - timedelta(days=1)].values
    except:
        df0.loc[missing_values_time] = -100000555555

df0

,Temperature_C,Humidity,Wind,Speed_m/s,Gust_m/s,Pressure_Pa,Precipitation_mm
2013-01-01 00:00:00,11.111111,71.0,0.00,3.352705,0.0,100868.94,0.0
2013-01-01 01:00:00,11.111111,71.0,0.00,3.129191,0.0,100868.94,0.0
2013-01-01 02:00:00,11.111111,71.0,11.25,2.682164,0.0,100868.94,0.0
2013-01-01 03:00:00,11.111111,71.0,11.25,4.023245,0.0,100767.36,0.0
2013-01-01 04:00:00,10.000000,71.5,101.25,1.117568,0.0,100767.36,0.0
...,...,...,...,...,...,...,...
2013-12-31 19:00:00,8.888889,71.0,0.00,3.799732,0.0,101139.82,0.0
2013-12-31 20:00:00,8.888889,71.0,0.00,2.682164,0.0,101139.82,0.0
2013-12-31 21:00:00,8.888889,68.5,11.25,3.799732,0.0,101139.82,0.0
2013-12-31 22:00:00,8.888889,66.0,11.25,3.799732,0.0,101139.82,0.0
2013-12-31 23:00:00,9.444444,71.0,22.50,3.352705,0.0,101089.03,0.0

In [35]:
df0= df0.replace(-100000555555, np.nan)
df0.to_csv("meteo_2016")
df0

,Temperature_C,Humidity,Wind,Speed_m/s,Gust_m/s,Pressure_Pa,Precipitation_mm
2013-01-01 00:00:00,11.111111,71.0,0.00,3.352705,0.0,100868.94,0.0
2013-01-01 01:00:00,11.111111,71.0,0.00,3.129191,0.0,100868.94,0.0
2013-01-01 02:00:00,11.111111,71.0,11.25,2.682164,0.0,100868.94,0.0
2013-01-01 03:00:00,11.111111,71.0,11.25,4.023245,0.0,100767.36,0.0
2013-01-01 04:00:00,10.000000,71.5,101.25,1.117568,0.0,100767.36,0.0
...,...,...,...,...,...,...,...
2013-12-31 19:00:00,8.888889,71.0,0.00,3.799732,0.0,101139.82,0.0
2013-12-31 20:00:00,8.888889,71.0,0.00,2.682164,0.0,101139.82,0.0
2013-12-31 21:00:00,8.888889,68.5,11.25,3.799732,0.0,101139.82,0.0
2013-12-31 22:00:00,8.888889,66.0,11.25,3.799732,0.0,101139.82,0.0
2013-12-31 23:00:00,9.444444,71.0,22.50,3.352705,0.0,101089.03,0.0

In [36]:
df = df0.copy()
mask = df.isna()
missing_values_time = df["Temperature_C"][mask["Temperature_C"]].index

while df["Temperature_C"].isna().any():
    try:
        df.loc[missing_values_time] = df.loc[missing_values_time + timedelta(days=1)].values
    except:
        break
df

,Temperature_C,Humidity,Wind,Speed_m/s,Gust_m/s,Pressure_Pa,Precipitation_mm
2013-01-01 00:00:00,11.111111,71.0,0.00,3.352705,0.0,100868.94,0.0
2013-01-01 01:00:00,11.111111,71.0,0.00,3.129191,0.0,100868.94,0.0
2013-01-01 02:00:00,11.111111,71.0,11.25,2.682164,0.0,100868.94,0.0
2013-01-01 03:00:00,11.111111,71.0,11.25,4.023245,0.0,100767.36,0.0
2013-01-01 04:00:00,10.000000,71.5,101.25,1.117568,0.0,100767.36,0.0
...,...,...,...,...,...,...,...
2013-12-31 19:00:00,8.888889,71.0,0.00,3.799732,0.0,101139.82,0.0
2013-12-31 20:00:00,8.888889,71.0,0.00,2.682164,0.0,101139.82,0.0
2013-12-31 21:00:00,8.888889,68.5,11.25,3.799732,0.0,101139.82,0.0
2013-12-31 22:00:00,8.888889,66.0,11.25,3.799732,0.0,101139.82,0.0
2013-12-31 23:00:00,9.444444,71.0,22.50,3.352705,0.0,101089.03,0.0

In [37]:
df.to_csv('meteo_'+year+'_updated')
meteo.columns

Index(['Temperature_C', 'Humidity', 'Wind', 'Speed_m/s', 'Gust_m/s',
       'Pressure_Pa', 'Precipitation_mm'],
      dtype='object')

In [38]:
latitude = 37.94 # latitude  N
longitude = 23.75  # longitude E
elevation = 131.064  # meters above the sea

In [42]:
path_to_ghi='/home/ict4bd/Desktop/Atene/creation_epw/ghi/'+year+'ghi_tot.csv'
path_to_ghi

'/home/ict4bd/Desktop/Atene/creation_epw/ghi/2013ghi_tot.csv'

In [43]:
ghi_tot=pd.read_csv('/home/ict4bd/Desktop/Atene/creation_epw/ghi/'+year+'_ghi_tot.csv')
ghi_tot.columns
#to avoid saving possible blank lines at the end
ghi_tot=ghi_tot[:8760].copy()

In [46]:
#check for difference (leap year)
#print(len(df))
#print(len(ghi_tot))
if len(df)!=len(ghi_tot):
    start=datetime.datetime.strptime(year+'-02-28 23:59:59', '%Y-%m-%d %H:%M:%S')
    end=datetime.datetime.strptime(year+'-02-29 23:59:59', '%Y-%m-%d %H:%M:%S')
    df_365=df[(df.index<start) | (df.index>end)]
    df=df_365.copy()
    print('Leap day: dropped')
    print(len(df))
else:
    print('Not a leap year')

Not a leap year

In [47]:
df['G(i)']=ghi_tot['G(i)'].values

In [52]:
path_to_ghi_comp='/home/ict4bd/Desktop/Atene/creation_epw/ghi/'+year+'_ghi_components.csv'
ghi_comp0=pd.read_csv(path_to_ghi_comp)
ghi_comp=ghi_comp0[:8760].copy()
ghi_comp.columns

Index(['time', 'Gb(i)', 'Gd(i)', 'Gr(i)', 'H_sun', 'T2m', 'WS10m', 'Int'], dtype='object')

In [53]:
df['Gb(i)']=ghi_comp['Gb(i)'].values[:len(df)]
df['Gd(i)']=ghi_comp['Gd(i)'].values[:len(df)]
df['Gr(i)']=ghi_comp['Gr(i)'].values[:len(df)]
df[-10:]

,Temperature_C,Humidity,Wind,Speed_m/s,Gust_m/s,Pressure_Pa,Precipitation_mm,G(i),Gb(i),Gd(i),Gr(i)
2013-12-31 14:00:00,8.888889,71.0,33.75,7.375950,0.0,101038.24,0.0,122.01,62.0,60.0,0.0
2013-12-31 15:00:00,10.000000,66.0,45.00,7.599464,0.0,101038.24,0.0,0.0,0.0,0.0,0.0
2013-12-31 16:00:00,8.888889,71.0,45.00,8.270004,0.0,101038.24,0.0,0.0,0.0,0.0,0.0
2013-12-31 17:00:00,8.888889,68.5,22.50,6.034868,0.0,101038.24,0.0,0.0,0.0,0.0,0.0
2013-12-31 18:00:00,8.888889,71.0,11.25,4.246759,0.0,101038.24,0.0,0.0,0.0,0.0,0.0
2013-12-31 19:00:00,8.888889,71.0,0.00,3.799732,0.0,101139.82,0.0,0.0,0.0,0.0,0.0
2013-12-31 20:00:00,8.888889,71.0,0.00,2.682164,0.0,101139.82,0.0,0.0,0.0,0.0,0.0
2013-12-31 21:00:00,8.888889,68.5,11.25,3.799732,0.0,101139.82,0.0,0.0,0.0,0.0,0.0
2013-12-31 22:00:00,8.888889,66.0,11.25,3.799732,0.0,101139.82,0.0,0.0,0.0,0.0,0.0
2013-12-31 23:00:00,9.444444,71.0,22.50,3.352705,0.0,101089.03,0.0,0.0,0.0,0.0,0.0

In [54]:
rad=pd.DataFrame(df['G(i)'].values,index=df.index,columns=['ghi'])
rad=rad.astype('float64')
rad[-10:]

                        ghi
2013-12-31 14:00:00  122.01
2013-12-31 15:00:00    0.00
2013-12-31 16:00:00    0.00
2013-12-31 17:00:00    0.00
2013-12-31 18:00:00    0.00
2013-12-31 19:00:00    0.00
2013-12-31 20:00:00    0.00
2013-12-31 21:00:00    0.00
2013-12-31 22:00:00    0.00
2013-12-31 23:00:00    0.00

In [56]:
rad=dec.main(rad,latitude,longitude,elevation)
rad

/home/ict4bd/Desktop/Atene/creation_epw/dec.py:244: RuntimeWarning: invalid value encountered in double_scalars
  df['k_b'] = df['dni']/df['dni_clear']
/home/ict4bd/Desktop/Atene/creation_epw/dec.py:245: RuntimeWarning: invalid value encountered in double_scalars
  df['k_d'] = df['dhi']/df['dhi_clear']

,ghi,azimuth,zenith,altitude,AST,G_0,k_d,dhi,dni,k_b,G_1,doy,airmass_relative,m,k_t,dni_clear,dhi_clear,G_c
2013-01-01 00:00:00,0.0,-120.770055,155.373209,-65.373209,1.526067,0.0,NaN,0.0,0.0,NaN,0.0,1.0,NaN,NaN,0.0,0.0,0.0,0.0
2013-01-01 01:00:00,0.0,-103.769907,144.409063,-54.409063,2.525739,0.0,NaN,0.0,0.0,NaN,0.0,1.0,NaN,NaN,0.0,0.0,0.0,0.0
2013-01-01 02:00:00,0.0,-92.609119,132.712468,-42.712468,3.525411,0.0,NaN,0.0,0.0,NaN,0.0,1.0,NaN,NaN,0.0,0.0,0.0,0.0
2013-01-01 03:00:00,0.0,-83.650001,120.904038,-30.904038,4.525083,0.0,NaN,0.0,0.0,NaN,0.0,1.0,NaN,NaN,0.0,0.0,0.0,0.0
2013-01-01 04:00:00,0.0,-75.409691,109.284107,-19.284107,5.524756,0.0,NaN,0.0,0.0,NaN,0.0,1.0,NaN,NaN,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-12-31 19:00:00,0.0,93.100049,133.387838,-43.387838,20.529665,0.0,NaN,0.0,0.0,NaN,0.0,365.0,NaN,NaN,0.0,0.0,0.0,0.0
2013-12-31 20:00:00,0.0,104.454257,145.063369,-55.063369,21.529335,0.0,NaN,0.0,0.0,NaN,0.0,365.0,NaN,NaN,0.0,0.0,0.0,0.0
2013-12-31 21:00:00,0.0,121.981767,155.951460,-65.951460,22.529006,0.0,NaN,0.0,0.0,NaN,0.0,365.0,NaN,NaN,0.0,0.0,0.0,0.0
2013-12-31 22:00:00,0.0,155.892751,163.906795,-73.906795,23.528677,0.0,NaN,0.0,0.0,NaN,0.0,365.0,NaN,NaN,0.0,0.0,0.0,0.0
2013-12-31 23:00:00,0.0,-153.262268,163.612160,-73.612160,0.528347,0.0,NaN,0.0,0.0,NaN,0.0,365.0,NaN,NaN,0.0,0.0,0.0,0.0

In [57]:
data=epw()
data.read('GRC_Athens.167160_IWEC.epw')
head=data.headers # this is a dictionary of the header information
print(head)

{'LOCATION': ['ATHENS', '-', 'GRC', 'IWEC Data', '167160', '37.90', '23.73', '2.0', '15.0'], 'DESIGN CONDITIONS': ['1', 'Climate Design Data 2009 ASHRAE Handbook', '', 'Heating', '2', '1.6', '3.1', '-6.8', '2.1', '5.1', '-4.9', '2.5', '5.7', '12.1', '9.7', '10.8', '8.9', '3.5', '0', 'Cooling', '8', '9.1', '35.1', '21.1', '33.8', '20.8', '32.4', '20.9', '24.4', '31', '23.6', '30.1', '22.8', '29.2', '5.6', '30', '22.2', '16.9', '28.7', '21.2', '15.9', '28', '20.5', '15.2', '27.5', '73.9', '31.4', '70.5', '30.2', '67.5', '29.3', '1110', 'Extremes', '10', '9', '8.2', '29', '-0.4', '38', '1.7', '1.9', '-1.7', '39.3', '-2.7', '40.4', '-3.7', '41.5', '-4.9', '42.8'], 'TYPICAL/EXTREME PERIODS': ['6', 'Summer - Week Nearest Max Temperature For Period', 'Extreme', '8/ 3', '8/ 9', 'Summer - Week Nearest Average Temperature For Period', 'Typical', '6/29', '7/ 5', 'Winter - Week Nearest Min Temperature For Period', 'Extreme', '2/17', '2/23', 'Winter - Week Nearest Average Temperature For Period', 'Typical', '1/13', '1/19', 'Autumn - Week Nearest Average Temperature For Period', 'Typical', '10/13', '10/19', 'Spring - Week Nearest Average Temperature For Period', 'Typical', '4/ 5', '4/11'], 'GROUND TEMPERATURES': ['3', '.5', '', '', '', '9.73', '11.26', '14.24', '17.06', '22.41', '25.22', '25.99', '24.57', '21.27', '17.17', '13.13', '10.46', '2', '', '', '', '11.84', '12.22', '13.91', '15.81', '19.91', '22.54', '23.84', '23.55', '21.67', '18.84', '15.65', '13.14', '4', '', '', '', '14.02', '13.76', '14.50', '15.58', '18.29', '20.32', '21.64', '21.96', '21.14', '19.47', '17.31', '15.35'], 'HOLIDAYS/DAYLIGHT SAVINGS': ['No', '0', '0', '0'], 'COMMENTS 1': ["IWEC- WMO#167160 - Europe -- Original Source Data (c) 2001 American Society of Heating, Refrigerating and Air-Conditioning Engineers (ASHRAE), Inc., Atlanta, GA, USA.  www.ashrae.org  All rights reserved as noted in the License Agreement and Additional Conditions. DISCLAIMER OF WARRANTIES: The data is provided 'as is' without warranty of any kind, either expressed or implied. The entire risk as to the quality and performance of the data is with you. In no event will ASHRAE or its contractors be liable to you for any damages, including without limitation any lost profits, lost savings, or other incidental or consequential damages arising out of the use or inability to use this data."], 'COMMENTS 2': [' -- Ground temps produced with a standard soil diffusivity of 2.3225760E-03 {m**2/day}'], 'DATA PERIODS': ['1', '1', 'Data', 'Sunday', ' 1/ 1', '12/31']}

In [58]:
df_epw=data.dataframe.copy()  # this is pandas dataframe
df_epw.columns

Index(['Year', 'Month', 'Day', 'Hour', 'Minute',
       'Data Source and Uncertainty Flags', 'Dry Bulb Temperature',
       'Dew Point Temperature', 'Relative Humidity',
       'Atmospheric Station Pressure', 'Extraterrestrial Horizontal Radiation',
       'Extraterrestrial Direct Normal Radiation',
       'Horizontal Infrared Radiation Intensity',
       'Global Horizontal Radiation', 'Direct Normal Radiation',
       'Diffuse Horizontal Radiation', 'Global Horizontal Illuminance',
       'Direct Normal Illuminance', 'Diffuse Horizontal Illuminance',
       'Zenith Luminance', 'Wind Direction', 'Wind Speed', 'Total Sky Cover',
       'Opaque Sky Cover (used if Horizontal IR Intensity missing)',
       'Visibility', 'Ceiling Height', 'Present Weather Observation',
       'Present Weather Codes', 'Precipitable Water', 'Aerosol Optical Depth',
       'Snow Depth', 'Days Since Last Snowfall', 'Albedo',
       'Liquid Precipitation Depth', 'Liquid Precipitation Quantity'],
      dtype='object')

In [59]:
df_epw

,Year,Month,Day,Hour,Minute,Data Source and Uncertainty Flags,Dry Bulb Temperature,Dew Point Temperature,Relative Humidity,Atmospheric Station Pressure,...,Ceiling Height,Present Weather Observation,Present Weather Codes,Precipitable Water,Aerosol Optical Depth,Snow Depth,Days Since Last Snowfall,Albedo,Liquid Precipitation Depth,Liquid Precipitation Quantity
0,1999,1,1,1,60,C9C9C9C9*0?9?9?9?9?9?9?9*0C8C8C8C8*0*0E8*0*0,9.5,4.0,69,102400,...,77777,9,999999999,0,0.044,0,88,0.0,0.0,0.0
1,1999,1,1,2,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7A7A7A7A7*0E8*0*0,9.2,2.9,65,102600,...,1350,9,999999999,0,0.044,0,88,0.0,0.0,0.0
2,1999,1,1,3,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,9.0,2.2,62,102700,...,1350,9,999999999,0,0.044,0,88,0.0,0.0,0.0
3,1999,1,1,4,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,8.9,1.9,61,102800,...,1350,9,999999999,0,0.044,0,88,0.0,0.0,0.0
4,1999,1,1,5,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,8.8,1.8,61,102800,...,1350,9,999999999,0,0.044,0,88,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,1987,12,31,20,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7A7A7A7A7*0E8*0*0,11.5,7.3,76,101600,...,22000,9,999999999,0,0.045,0,88,0.0,0.0,0.0
8756,1987,12,31,21,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7B8B8A7*0*0E8*0*0,11.1,7.4,78,101600,...,22000,9,999999999,0,0.045,0,88,0.0,0.0,0.0
8757,1987,12,31,22,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7B8B8A7*0*0E8*0*0,10.7,7.1,78,101700,...,22000,9,999999999,0,0.045,0,88,0.0,0.0,0.0
8758,1987,12,31,23,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7A7A7A7A7*0E8*0*0,10.3,6.4,77,101900,...,22000,9,999999999,0,0.045,0,88,0.0,0.0,0.0
8759,1987,12,31,24,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7B8B8A7*0*0E8*0*0,9.8,5.3,73,102100,...,22000,9,999999999,0,0.045,0,88,0.0,0.0,0.0

In [60]:
df.columns

Index(['Temperature_C', 'Humidity', 'Wind', 'Speed_m/s', 'Gust_m/s',
       'Pressure_Pa', 'Precipitation_mm', 'G(i)', 'Gb(i)', 'Gd(i)', 'Gr(i)'],
      dtype='object')

In [61]:
df_epw['Dry Bulb Temperature']=df.Temperature_C.values
df_epw['Atmospheric Station Pressure']=df.Pressure_Pa
df_epw['Relative Humidity']=df.Humidity.values
df_epw['Global Horizontal Radiation']=rad.ghi.values
df_epw['Direct Normal Radiation']=rad.dni.values
df_epw['Diffuse Horizontal Radiation']=rad.dhi.values

'''
I don't know if the epw file works if we include these
'''
df_epw['Gb(i)']=df['Gb(i)'].values
df_epw['Gd(i)']=df['Gd(i)'].values
df_epw['Gr(i)']=df['Gr(i)'].values

df_epw['Wind Direction']=df['Wind'].values
df_epw['Wind Speed']=df['Speed_m/s'].values

In [62]:
data.dataframe

,Year,Month,Day,Hour,Minute,Data Source and Uncertainty Flags,Dry Bulb Temperature,Dew Point Temperature,Relative Humidity,Atmospheric Station Pressure,...,Ceiling Height,Present Weather Observation,Present Weather Codes,Precipitable Water,Aerosol Optical Depth,Snow Depth,Days Since Last Snowfall,Albedo,Liquid Precipitation Depth,Liquid Precipitation Quantity
0,1999,1,1,1,60,C9C9C9C9*0?9?9?9?9?9?9?9*0C8C8C8C8*0*0E8*0*0,9.5,4.0,69,102400,...,77777,9,999999999,0,0.044,0,88,0.0,0.0,0.0
1,1999,1,1,2,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7A7A7A7A7*0E8*0*0,9.2,2.9,65,102600,...,1350,9,999999999,0,0.044,0,88,0.0,0.0,0.0
2,1999,1,1,3,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,9.0,2.2,62,102700,...,1350,9,999999999,0,0.044,0,88,0.0,0.0,0.0
3,1999,1,1,4,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,8.9,1.9,61,102800,...,1350,9,999999999,0,0.044,0,88,0.0,0.0,0.0
4,1999,1,1,5,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,8.8,1.8,61,102800,...,1350,9,999999999,0,0.044,0,88,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,1987,12,31,20,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7A7A7A7A7*0E8*0*0,11.5,7.3,76,101600,...,22000,9,999999999,0,0.045,0,88,0.0,0.0,0.0
8756,1987,12,31,21,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7B8B8A7*0*0E8*0*0,11.1,7.4,78,101600,...,22000,9,999999999,0,0.045,0,88,0.0,0.0,0.0
8757,1987,12,31,22,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7B8B8A7*0*0E8*0*0,10.7,7.1,78,101700,...,22000,9,999999999,0,0.045,0,88,0.0,0.0,0.0
8758,1987,12,31,23,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7A7A7A7A7*0E8*0*0,10.3,6.4,77,101900,...,22000,9,999999999,0,0.045,0,88,0.0,0.0,0.0
8759,1987,12,31,24,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7B8B8A7*0*0E8*0*0,9.8,5.3,73,102100,...,22000,9,999999999,0,0.045,0,88,0.0,0.0,0.0

In [63]:
data.dataframe=df_epw.copy()
data.headers['LOCATION']

['ATHENS', '-', 'GRC', 'IWEC Data', '167160', '37.90', '23.73', '2.0', '15.0']

In [64]:
data.write(year+'_epw_file.epw')
data.dataframe

,Year,Month,Day,Hour,Minute,Data Source and Uncertainty Flags,Dry Bulb Temperature,Dew Point Temperature,Relative Humidity,Atmospheric Station Pressure,...,Precipitable Water,Aerosol Optical Depth,Snow Depth,Days Since Last Snowfall,Albedo,Liquid Precipitation Depth,Liquid Precipitation Quantity,Gb(i),Gd(i),Gr(i)
0,1999,1,1,1,60,C9C9C9C9*0?9?9?9?9?9?9?9*0C8C8C8C8*0*0E8*0*0,11.111111,4.0,71.0,NaN,...,0,0.044,0,88,0.0,0.0,0.0,0.0,0.0,0.0
1,1999,1,1,2,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7A7A7A7A7*0E8*0*0,11.111111,2.9,71.0,NaN,...,0,0.044,0,88,0.0,0.0,0.0,0.0,0.0,0.0
2,1999,1,1,3,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,11.111111,2.2,71.0,NaN,...,0,0.044,0,88,0.0,0.0,0.0,0.0,0.0,0.0
3,1999,1,1,4,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,11.111111,1.9,71.0,NaN,...,0,0.044,0,88,0.0,0.0,0.0,0.0,0.0,0.0
4,1999,1,1,5,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,10.000000,1.8,71.5,NaN,...,0,0.044,0,88,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,1987,12,31,20,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7A7A7A7A7*0E8*0*0,8.888889,7.3,71.0,NaN,...,0,0.045,0,88,0.0,0.0,0.0,0.0,0.0,0.0
8756,1987,12,31,21,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7B8B8A7*0*0E8*0*0,8.888889,7.4,71.0,NaN,...,0,0.045,0,88,0.0,0.0,0.0,0.0,0.0,0.0
8757,1987,12,31,22,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7B8B8A7*0*0E8*0*0,8.888889,7.1,68.5,NaN,...,0,0.045,0,88,0.0,0.0,0.0,0.0,0.0,0.0
8758,1987,12,31,23,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7A7A7A7A7*0E8*0*0,8.888889,6.4,66.0,NaN,...,0,0.045,0,88,0.0,0.0,0.0,0.0,0.0,0.0
8759,1987,12,31,24,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7B8B8A7*0*0E8*0*0,9.444444,5.3,71.0,NaN,...,0,0.045,0,88,0.0,0.0,0.0,0.0,0.0,0.0