In [31]:
import pandas as pd
import dec
from epw_code import epw
import numpy as np
import datetime
import os

In [32]:
file_us= '/home/ict4bd/Desktop/Atene/creation_epw/2013_meteo_files/2013/2013_epw_file.epw'

reader=epw()

reader.read(file_us)
b=reader.dataframe
b.to_csv('GRCUS2013.csv')

In [33]:
#nameFile='/home/ict4bd/Desktop/Atene/creation_epw/station_data/LGAV_from_2013-01-01_to_2013-12-31.csv'
#nameFile='/home/ict4bd/Desktop/Atene/creation_epw/station_data/LGAV_from_2014-01-01_to_2014-12-31.csv'
nameFile='/home/ict4bd/Desktop/Atene/creation_epw/station_data/LGAV_from_2015-01-01_to_2015-12-31.csv'
meteo_df=pd.read_csv(nameFile,index_col='Date_Time',parse_dates=[0,])
meteo_df

,Temperature_C,Dew_Point_C,Humidity,Wind,Speed_m/s,Gust_m/s,Pressure_Pa,Precip_Rate_mm
Date_Time,,,,,,,,
2015-01-01 00:20:00,5.000000,2.777778,87,22.5,13.857845,19.222173,100157.88,0
2015-01-01 00:50:00,5.000000,2.777778,87,22.5,13.410818,19.222173,100157.88,0
2015-01-01 01:20:00,5.000000,2.222222,81,22.5,13.857845,0.000000,100056.30,0
2015-01-01 01:50:00,5.000000,2.222222,81,22.5,13.857845,19.669200,100157.88,0
2015-01-01 02:20:00,5.000000,2.222222,81,22.5,13.857845,21.457309,100157.88,0
...,...,...,...,...,...,...,...,...
2015-12-31 21:50:00,2.222222,-6.111111,56,0.0,5.364327,0.000000,101647.72,0
2015-12-31 22:20:00,2.222222,-7.222222,52,22.5,3.576218,0.000000,101647.72,0
2015-12-31 22:50:00,1.111111,-6.111111,60,45.0,6.705409,0.000000,101647.72,0
2015-12-31 23:20:00,1.111111,-3.888889,70,45.0,8.940545,0.000000,101647.72,0
2015-12-31 23:50:00,1.111111,-2.222222,81,45.0,6.705409,0.000000,101749.30,0

In [34]:
meteo=meteo_df.resample('H').mean().interpolate()
meteo.head()

,Temperature_C,Dew_Point_C,Humidity,Wind,Speed_m/s,Gust_m/s,Pressure_Pa,Precip_Rate_mm
Date_Time,,,,,,,,
2015-01-01 00:00:00,5.000000,2.777778,87.0,22.5,13.634332,19.222173,100157.88,0.0
2015-01-01 01:00:00,5.000000,2.222222,81.0,22.5,13.857845,9.834600,100107.09,0.0
2015-01-01 02:00:00,5.000000,2.222222,81.0,22.5,14.081359,21.457309,100208.67,0.0
2015-01-01 03:00:00,3.888889,1.111111,81.0,22.5,12.516764,8.717032,100259.46,0.0
2015-01-01 04:00:00,3.888889,1.111111,81.0,0.0,11.399195,0.000000,100361.04,0.0

In [35]:
if 'Solar_W/m2' in list(meteo.columns):
    meteo=meteo.drop(columns='Solar_W/m2')

if 'UV' in list(meteo.columns):
    meteo=meteo.drop(columns='UV')

In [36]:
#retrieve year 
name_csv=nameFile.split("/")[-1]
start_date=name_csv.split("_")[-3]
year=start_date.split("-")[-3]

In [37]:
out_dir='/home/ict4bd/Desktop/Atene/creation_epw/'+year+'_meteo_files/'+year+'/'

if not os.path.exists(os.path.dirname(out_dir)):
    try:
        os.makedirs(os.path.dirname(out_dir))
    except OSError as exc: # Guard against race condition
        if exc.errno != errno.EEXIST:
            raise

In [38]:
time_vector = pd.date_range(start='1/1/'+str(int(year)), end='1/1/'+str(int(year)+1), freq='H')
newdf = pd.DataFrame(index=time_vector, columns=meteo.columns)
newdf.drop(newdf.tail(1).index,inplace=True) # drop last 1 rows
newdf

,Temperature_C,Dew_Point_C,Humidity,Wind,Speed_m/s,Gust_m/s,Pressure_Pa,Precip_Rate_mm
2015-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2015-12-31 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-12-31 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-12-31 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-12-31 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-12-31 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
newdf.loc[meteo.index, meteo.columns] = meteo.loc[meteo.index, meteo.columns]
newdf

,Temperature_C,Dew_Point_C,Humidity,Wind,Speed_m/s,Gust_m/s,Pressure_Pa,Precip_Rate_mm
2015-01-01 00:00:00,5.000000,2.777778,87.0,22.50,13.634332,19.222173,100157.88,0.0
2015-01-01 01:00:00,5.000000,2.222222,81.0,22.50,13.857845,9.834600,100107.09,0.0
2015-01-01 02:00:00,5.000000,2.222222,81.0,22.50,14.081359,21.457309,100208.67,0.0
2015-01-01 03:00:00,3.888889,1.111111,81.0,22.50,12.516764,8.717032,100259.46,0.0
2015-01-01 04:00:00,3.888889,1.111111,81.0,0.00,11.399195,0.000000,100361.04,0.0
...,...,...,...,...,...,...,...,...
2015-12-31 19:00:00,2.222222,-3.333333,67.5,0.00,4.693786,0.000000,101546.14,0.0
2015-12-31 20:00:00,2.222222,-4.444444,62.5,0.00,5.811354,0.000000,101647.72,0.0
2015-12-31 21:00:00,2.500000,-6.111111,54.0,0.00,5.587841,0.000000,101647.72,0.0
2015-12-31 22:00:00,1.666667,-6.666667,56.0,33.75,5.140814,0.000000,101647.72,0.0
2015-12-31 23:00:00,1.111111,-3.055556,75.5,45.00,7.822977,0.000000,101698.51,0.0

In [40]:
import time
from datetime import timedelta

df0 = newdf.copy()
mask = newdf.isna()
missing_values_time = df0["Temperature_C"][mask["Temperature_C"]].index

while df0["Temperature_C"].isna().any():
    try:
        df0.loc[missing_values_time] = df0.loc[missing_values_time - timedelta(days=1)].values
    except:
        df0.loc[missing_values_time] = -100000555555

df0

,Temperature_C,Dew_Point_C,Humidity,Wind,Speed_m/s,Gust_m/s,Pressure_Pa,Precip_Rate_mm
2015-01-01 00:00:00,5.000000,2.777778,87.0,22.50,13.634332,19.222173,100157.88,0.0
2015-01-01 01:00:00,5.000000,2.222222,81.0,22.50,13.857845,9.834600,100107.09,0.0
2015-01-01 02:00:00,5.000000,2.222222,81.0,22.50,14.081359,21.457309,100208.67,0.0
2015-01-01 03:00:00,3.888889,1.111111,81.0,22.50,12.516764,8.717032,100259.46,0.0
2015-01-01 04:00:00,3.888889,1.111111,81.0,0.00,11.399195,0.000000,100361.04,0.0
...,...,...,...,...,...,...,...,...
2015-12-31 19:00:00,2.222222,-3.333333,67.5,0.00,4.693786,0.000000,101546.14,0.0
2015-12-31 20:00:00,2.222222,-4.444444,62.5,0.00,5.811354,0.000000,101647.72,0.0
2015-12-31 21:00:00,2.500000,-6.111111,54.0,0.00,5.587841,0.000000,101647.72,0.0
2015-12-31 22:00:00,1.666667,-6.666667,56.0,33.75,5.140814,0.000000,101647.72,0.0
2015-12-31 23:00:00,1.111111,-3.055556,75.5,45.00,7.822977,0.000000,101698.51,0.0

In [41]:
df0= df0.replace(-100000555555, np.nan)
df0.to_csv(out_dir+"meteo_"+year)
df0

,Temperature_C,Dew_Point_C,Humidity,Wind,Speed_m/s,Gust_m/s,Pressure_Pa,Precip_Rate_mm
2015-01-01 00:00:00,5.000000,2.777778,87.0,22.50,13.634332,19.222173,100157.88,0.0
2015-01-01 01:00:00,5.000000,2.222222,81.0,22.50,13.857845,9.834600,100107.09,0.0
2015-01-01 02:00:00,5.000000,2.222222,81.0,22.50,14.081359,21.457309,100208.67,0.0
2015-01-01 03:00:00,3.888889,1.111111,81.0,22.50,12.516764,8.717032,100259.46,0.0
2015-01-01 04:00:00,3.888889,1.111111,81.0,0.00,11.399195,0.000000,100361.04,0.0
...,...,...,...,...,...,...,...,...
2015-12-31 19:00:00,2.222222,-3.333333,67.5,0.00,4.693786,0.000000,101546.14,0.0
2015-12-31 20:00:00,2.222222,-4.444444,62.5,0.00,5.811354,0.000000,101647.72,0.0
2015-12-31 21:00:00,2.500000,-6.111111,54.0,0.00,5.587841,0.000000,101647.72,0.0
2015-12-31 22:00:00,1.666667,-6.666667,56.0,33.75,5.140814,0.000000,101647.72,0.0
2015-12-31 23:00:00,1.111111,-3.055556,75.5,45.00,7.822977,0.000000,101698.51,0.0

In [42]:
df = df0.copy()
mask = df.isna()
missing_values_time = df["Temperature_C"][mask["Temperature_C"]].index

while df["Temperature_C"].isna().any():
    try:
        df.loc[missing_values_time] = df.loc[missing_values_time + timedelta(days=1)].values
    except:
        break
df

,Temperature_C,Dew_Point_C,Humidity,Wind,Speed_m/s,Gust_m/s,Pressure_Pa,Precip_Rate_mm
2015-01-01 00:00:00,5.000000,2.777778,87.0,22.50,13.634332,19.222173,100157.88,0.0
2015-01-01 01:00:00,5.000000,2.222222,81.0,22.50,13.857845,9.834600,100107.09,0.0
2015-01-01 02:00:00,5.000000,2.222222,81.0,22.50,14.081359,21.457309,100208.67,0.0
2015-01-01 03:00:00,3.888889,1.111111,81.0,22.50,12.516764,8.717032,100259.46,0.0
2015-01-01 04:00:00,3.888889,1.111111,81.0,0.00,11.399195,0.000000,100361.04,0.0
...,...,...,...,...,...,...,...,...
2015-12-31 19:00:00,2.222222,-3.333333,67.5,0.00,4.693786,0.000000,101546.14,0.0
2015-12-31 20:00:00,2.222222,-4.444444,62.5,0.00,5.811354,0.000000,101647.72,0.0
2015-12-31 21:00:00,2.500000,-6.111111,54.0,0.00,5.587841,0.000000,101647.72,0.0
2015-12-31 22:00:00,1.666667,-6.666667,56.0,33.75,5.140814,0.000000,101647.72,0.0
2015-12-31 23:00:00,1.111111,-3.055556,75.5,45.00,7.822977,0.000000,101698.51,0.0

In [43]:
df.to_csv(out_dir+'meteo_'+year+'_updated')
meteo.columns

Index(['Temperature_C', 'Dew_Point_C', 'Humidity', 'Wind', 'Speed_m/s',
       'Gust_m/s', 'Pressure_Pa', 'Precip_Rate_mm'],
      dtype='object')

In [44]:
latitude = 37.94 # latitude  N
longitude = 23.75  # longitude E
elevation = 131.064  # meters above the sea

In [45]:
path_to_ghi='/home/ict4bd/Desktop/Atene/creation_epw/ghi/'+year+'ghi_tot.csv'
path_to_ghi

'/home/ict4bd/Desktop/Atene/creation_epw/ghi/2015ghi_tot.csv'

In [46]:
ghi_tot=pd.read_csv('/home/ict4bd/Desktop/Atene/creation_epw/ghi/'+year+'_ghi_tot.csv')
ghi_tot.columns
#to avoid saving possible blank lines at the end
ghi_tot=ghi_tot[:8760].copy()

In [47]:
#check for difference (leap year)
if len(df)!=len(ghi_tot):
    start=datetime.datetime.strptime(year+'-02-28 23:59:59', '%Y-%m-%d %H:%M:%S')
    end=datetime.datetime.strptime(year+'-02-29 23:59:59', '%Y-%m-%d %H:%M:%S')
    df_365=df[(df.index<start) | (df.index>end)]
    df=df_365.copy()
    print('Leap day: dropped')
    print(len(df))
else:
    print('Not a leap year')

Not a leap year

In [48]:
df['G(i)']=ghi_tot['G(i)'].values

In [49]:
path_to_ghi_comp='/home/ict4bd/Desktop/Atene/creation_epw/ghi/'+year+'_ghi_components.csv'
ghi_comp0=pd.read_csv(path_to_ghi_comp)
ghi_comp=ghi_comp0[:8760].copy()
ghi_comp.columns

Index(['time', 'Gb(i)', 'Gd(i)', 'Gr(i)', 'H_sun', 'T2m', 'WS10m', 'Int'], dtype='object')

In [50]:
df['Gb(i)']=ghi_comp['Gb(i)'].values[:len(df)]
df['Gd(i)']=ghi_comp['Gd(i)'].values[:len(df)]
df['Gr(i)']=ghi_comp['Gr(i)'].values[:len(df)]
df[-10:]

,Temperature_C,Dew_Point_C,Humidity,Wind,Speed_m/s,Gust_m/s,Pressure_Pa,Precip_Rate_mm,G(i),Gb(i),Gd(i),Gr(i)
2015-12-31 14:00:00,2.500000,-2.222222,72.5,0.00,7.152436,0.0,101444.56,0.0,136.01,89.01,47.0,0.0
2015-12-31 15:00:00,2.777778,-2.500000,67.5,22.50,8.940545,0.0,101495.35,0.0,0.0,0.0,0.0,0.0
2015-12-31 16:00:00,2.222222,-3.333333,67.5,11.25,7.822977,0.0,101546.14,0.0,0.0,0.0,0.0,0.0
2015-12-31 17:00:00,1.666667,-2.777778,72.5,0.00,4.917300,0.0,101546.14,0.0,0.0,0.0,0.0,0.0
2015-12-31 18:00:00,1.111111,-2.777778,75.0,0.00,4.023245,0.0,101546.14,0.0,0.0,0.0,0.0,0.0
2015-12-31 19:00:00,2.222222,-3.333333,67.5,0.00,4.693786,0.0,101546.14,0.0,0.0,0.0,0.0,0.0
2015-12-31 20:00:00,2.222222,-4.444444,62.5,0.00,5.811354,0.0,101647.72,0.0,0.0,0.0,0.0,0.0
2015-12-31 21:00:00,2.500000,-6.111111,54.0,0.00,5.587841,0.0,101647.72,0.0,0.0,0.0,0.0,0.0
2015-12-31 22:00:00,1.666667,-6.666667,56.0,33.75,5.140814,0.0,101647.72,0.0,0.0,0.0,0.0,0.0
2015-12-31 23:00:00,1.111111,-3.055556,75.5,45.00,7.822977,0.0,101698.51,0.0,0.0,0.0,0.0,0.0

In [51]:
rad=pd.DataFrame(df['G(i)'].values,index=df.index,columns=['ghi'])
rad=rad.astype('float64')
rad[-10:]

                        ghi
2015-12-31 14:00:00  136.01
2015-12-31 15:00:00    0.00
2015-12-31 16:00:00    0.00
2015-12-31 17:00:00    0.00
2015-12-31 18:00:00    0.00
2015-12-31 19:00:00    0.00
2015-12-31 20:00:00    0.00
2015-12-31 21:00:00    0.00
2015-12-31 22:00:00    0.00
2015-12-31 23:00:00    0.00

In [52]:
rad=dec.main(rad,latitude,longitude,elevation)
rad

/home/ict4bd/Desktop/Atene/creation_epw/dec.py:244: RuntimeWarning: invalid value encountered in double_scalars
  df['k_b'] = df['dni']/df['dni_clear']
/home/ict4bd/Desktop/Atene/creation_epw/dec.py:245: RuntimeWarning: invalid value encountered in double_scalars
  df['k_d'] = df['dhi']/df['dhi_clear']

,ghi,azimuth,zenith,altitude,AST,G_0,k_d,dhi,dni,k_b,G_1,doy,airmass_relative,m,k_t,dni_clear,dhi_clear,G_c
2015-01-01 00:00:00,0.0,-120.611289,155.357419,-65.357419,1.529975,0.0,NaN,0.0,0.0,NaN,0.0,1.0,NaN,NaN,0.0,0.0,0.0,0.0
2015-01-01 01:00:00,0.0,-103.661583,144.383348,-54.383348,2.529646,0.0,NaN,0.0,0.0,NaN,0.0,1.0,NaN,NaN,0.0,0.0,0.0,0.0
2015-01-01 02:00:00,0.0,-92.524765,132.684107,-42.684107,3.529316,0.0,NaN,0.0,0.0,NaN,0.0,1.0,NaN,NaN,0.0,0.0,0.0,0.0
2015-01-01 03:00:00,0.0,-83.577335,120.876313,-30.876313,4.528987,0.0,NaN,0.0,0.0,NaN,0.0,1.0,NaN,NaN,0.0,0.0,0.0,0.0
2015-01-01 04:00:00,0.0,-75.342346,109.259097,-19.259097,5.528658,0.0,NaN,0.0,0.0,NaN,0.0,1.0,NaN,NaN,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-12-31 19:00:00,0.0,93.094953,133.452990,-43.452990,20.533591,0.0,NaN,0.0,0.0,NaN,0.0,365.0,NaN,NaN,0.0,0.0,0.0,0.0
2015-12-31 20:00:00,0.0,104.453049,145.128710,-55.128710,21.533260,0.0,NaN,0.0,0.0,NaN,0.0,365.0,NaN,NaN,0.0,0.0,0.0,0.0
2015-12-31 21:00:00,0.0,122.006224,156.016131,-66.016131,22.532929,0.0,NaN,0.0,0.0,NaN,0.0,365.0,NaN,NaN,0.0,0.0,0.0,0.0
2015-12-31 22:00:00,0.0,156.027964,163.960579,-73.960579,23.532598,0.0,NaN,0.0,0.0,NaN,0.0,365.0,NaN,NaN,0.0,0.0,0.0,0.0
2015-12-31 23:00:00,0.0,-153.034775,163.625886,-73.625886,0.532268,0.0,NaN,0.0,0.0,NaN,0.0,365.0,NaN,NaN,0.0,0.0,0.0,0.0

In [53]:
data=epw()
data.read('GRC_Athens.167160_IWEC.epw')
head=data.headers # this is a dictionary of the header information
print(head)

{'LOCATION': ['ATHENS', '-', 'GRC', 'IWEC Data', '167160', '37.90', '23.73', '2.0', '15.0'], 'DESIGN CONDITIONS': ['1', 'Climate Design Data 2009 ASHRAE Handbook', '', 'Heating', '2', '1.6', '3.1', '-6.8', '2.1', '5.1', '-4.9', '2.5', '5.7', '12.1', '9.7', '10.8', '8.9', '3.5', '0', 'Cooling', '8', '9.1', '35.1', '21.1', '33.8', '20.8', '32.4', '20.9', '24.4', '31', '23.6', '30.1', '22.8', '29.2', '5.6', '30', '22.2', '16.9', '28.7', '21.2', '15.9', '28', '20.5', '15.2', '27.5', '73.9', '31.4', '70.5', '30.2', '67.5', '29.3', '1110', 'Extremes', '10', '9', '8.2', '29', '-0.4', '38', '1.7', '1.9', '-1.7', '39.3', '-2.7', '40.4', '-3.7', '41.5', '-4.9', '42.8'], 'TYPICAL/EXTREME PERIODS': ['6', 'Summer - Week Nearest Max Temperature For Period', 'Extreme', '8/ 3', '8/ 9', 'Summer - Week Nearest Average Temperature For Period', 'Typical', '6/29', '7/ 5', 'Winter - Week Nearest Min Temperature For Period', 'Extreme', '2/17', '2/23', 'Winter - Week Nearest Average Temperature For Period', 'Typical', '1/13', '1/19', 'Autumn - Week Nearest Average Temperature For Period', 'Typical', '10/13', '10/19', 'Spring - Week Nearest Average Temperature For Period', 'Typical', '4/ 5', '4/11'], 'GROUND TEMPERATURES': ['3', '.5', '', '', '', '9.73', '11.26', '14.24', '17.06', '22.41', '25.22', '25.99', '24.57', '21.27', '17.17', '13.13', '10.46', '2', '', '', '', '11.84', '12.22', '13.91', '15.81', '19.91', '22.54', '23.84', '23.55', '21.67', '18.84', '15.65', '13.14', '4', '', '', '', '14.02', '13.76', '14.50', '15.58', '18.29', '20.32', '21.64', '21.96', '21.14', '19.47', '17.31', '15.35'], 'HOLIDAYS/DAYLIGHT SAVINGS': ['No', '0', '0', '0'], 'COMMENTS 1': ["IWEC- WMO#167160 - Europe -- Original Source Data (c) 2001 American Society of Heating, Refrigerating and Air-Conditioning Engineers (ASHRAE), Inc., Atlanta, GA, USA.  www.ashrae.org  All rights reserved as noted in the License Agreement and Additional Conditions. DISCLAIMER OF WARRANTIES: The data is provided 'as is' without warranty of any kind, either expressed or implied. The entire risk as to the quality and performance of the data is with you. In no event will ASHRAE or its contractors be liable to you for any damages, including without limitation any lost profits, lost savings, or other incidental or consequential damages arising out of the use or inability to use this data."], 'COMMENTS 2': [' -- Ground temps produced with a standard soil diffusivity of 2.3225760E-03 {m**2/day}'], 'DATA PERIODS': ['1', '1', 'Data', 'Sunday', ' 1/ 1', '12/31']}

In [54]:
df_epw=data.dataframe.copy()  # this is pandas dataframe
df_epw.columns

Index(['Year', 'Month', 'Day', 'Hour', 'Minute',
       'Data Source and Uncertainty Flags', 'Dry Bulb Temperature',
       'Dew Point Temperature', 'Relative Humidity',
       'Atmospheric Station Pressure', 'Extraterrestrial Horizontal Radiation',
       'Extraterrestrial Direct Normal Radiation',
       'Horizontal Infrared Radiation Intensity',
       'Global Horizontal Radiation', 'Direct Normal Radiation',
       'Diffuse Horizontal Radiation', 'Global Horizontal Illuminance',
       'Direct Normal Illuminance', 'Diffuse Horizontal Illuminance',
       'Zenith Luminance', 'Wind Direction', 'Wind Speed', 'Total Sky Cover',
       'Opaque Sky Cover (used if Horizontal IR Intensity missing)',
       'Visibility', 'Ceiling Height', 'Present Weather Observation',
       'Present Weather Codes', 'Precipitable Water', 'Aerosol Optical Depth',
       'Snow Depth', 'Days Since Last Snowfall', 'Albedo',
       'Liquid Precipitation Depth', 'Liquid Precipitation Quantity'],
      dtype='object')

In [55]:
df_epw #COPY OF grc10anni

,Year,Month,Day,Hour,Minute,Data Source and Uncertainty Flags,Dry Bulb Temperature,Dew Point Temperature,Relative Humidity,Atmospheric Station Pressure,...,Ceiling Height,Present Weather Observation,Present Weather Codes,Precipitable Water,Aerosol Optical Depth,Snow Depth,Days Since Last Snowfall,Albedo,Liquid Precipitation Depth,Liquid Precipitation Quantity
0,1999,1,1,1,60,C9C9C9C9*0?9?9?9?9?9?9?9*0C8C8C8C8*0*0E8*0*0,9.5,4.0,69,102400,...,77777,9,999999999,0,0.044,0,88,0.0,0.0,0.0
1,1999,1,1,2,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7A7A7A7A7*0E8*0*0,9.2,2.9,65,102600,...,1350,9,999999999,0,0.044,0,88,0.0,0.0,0.0
2,1999,1,1,3,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,9.0,2.2,62,102700,...,1350,9,999999999,0,0.044,0,88,0.0,0.0,0.0
3,1999,1,1,4,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,8.9,1.9,61,102800,...,1350,9,999999999,0,0.044,0,88,0.0,0.0,0.0
4,1999,1,1,5,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,8.8,1.8,61,102800,...,1350,9,999999999,0,0.044,0,88,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,1987,12,31,20,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7A7A7A7A7*0E8*0*0,11.5,7.3,76,101600,...,22000,9,999999999,0,0.045,0,88,0.0,0.0,0.0
8756,1987,12,31,21,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7B8B8A7*0*0E8*0*0,11.1,7.4,78,101600,...,22000,9,999999999,0,0.045,0,88,0.0,0.0,0.0
8757,1987,12,31,22,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7B8B8A7*0*0E8*0*0,10.7,7.1,78,101700,...,22000,9,999999999,0,0.045,0,88,0.0,0.0,0.0
8758,1987,12,31,23,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7A7A7A7A7*0E8*0*0,10.3,6.4,77,101900,...,22000,9,999999999,0,0.045,0,88,0.0,0.0,0.0
8759,1987,12,31,24,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7B8B8A7*0*0E8*0*0,9.8,5.3,73,102100,...,22000,9,999999999,0,0.045,0,88,0.0,0.0,0.0

In [56]:
df.columns

Index(['Temperature_C', 'Dew_Point_C', 'Humidity', 'Wind', 'Speed_m/s',
       'Gust_m/s', 'Pressure_Pa', 'Precip_Rate_mm', 'G(i)', 'Gb(i)', 'Gd(i)',
       'Gr(i)'],
      dtype='object')

In [57]:
#rewriting the dataframe with the 2013 values

df_epw['Dry Bulb Temperature']=df.Temperature_C.values
#df_epw['Atmospheric Station Pressure']=df.Pressure_Pa
df_epw['Relative Humidity']=df.Humidity.values
df_epw['Global Horizontal Radiation']=rad.ghi.values
df_epw['Direct Normal Radiation']=rad.dni.values
df_epw['Diffuse Horizontal Radiation']=rad.dhi.values
df_epw['Wind Direction']=df['Wind'].values
df_epw['Wind Speed']=df['Speed_m/s'].values

In [58]:
data.dataframe #ancora grc10anni

,Year,Month,Day,Hour,Minute,Data Source and Uncertainty Flags,Dry Bulb Temperature,Dew Point Temperature,Relative Humidity,Atmospheric Station Pressure,...,Ceiling Height,Present Weather Observation,Present Weather Codes,Precipitable Water,Aerosol Optical Depth,Snow Depth,Days Since Last Snowfall,Albedo,Liquid Precipitation Depth,Liquid Precipitation Quantity
0,1999,1,1,1,60,C9C9C9C9*0?9?9?9?9?9?9?9*0C8C8C8C8*0*0E8*0*0,9.5,4.0,69,102400,...,77777,9,999999999,0,0.044,0,88,0.0,0.0,0.0
1,1999,1,1,2,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7A7A7A7A7*0E8*0*0,9.2,2.9,65,102600,...,1350,9,999999999,0,0.044,0,88,0.0,0.0,0.0
2,1999,1,1,3,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,9.0,2.2,62,102700,...,1350,9,999999999,0,0.044,0,88,0.0,0.0,0.0
3,1999,1,1,4,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,8.9,1.9,61,102800,...,1350,9,999999999,0,0.044,0,88,0.0,0.0,0.0
4,1999,1,1,5,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,8.8,1.8,61,102800,...,1350,9,999999999,0,0.044,0,88,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,1987,12,31,20,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7A7A7A7A7*0E8*0*0,11.5,7.3,76,101600,...,22000,9,999999999,0,0.045,0,88,0.0,0.0,0.0
8756,1987,12,31,21,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7B8B8A7*0*0E8*0*0,11.1,7.4,78,101600,...,22000,9,999999999,0,0.045,0,88,0.0,0.0,0.0
8757,1987,12,31,22,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7B8B8A7*0*0E8*0*0,10.7,7.1,78,101700,...,22000,9,999999999,0,0.045,0,88,0.0,0.0,0.0
8758,1987,12,31,23,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7A7A7A7A7*0E8*0*0,10.3,6.4,77,101900,...,22000,9,999999999,0,0.045,0,88,0.0,0.0,0.0
8759,1987,12,31,24,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7B8B8A7*0*0E8*0*0,9.8,5.3,73,102100,...,22000,9,999999999,0,0.045,0,88,0.0,0.0,0.0

In [59]:
data.dataframe=df_epw.copy()
data.headers['LOCATION']   #copio 2013 in data

['ATHENS', '-', 'GRC', 'IWEC Data', '167160', '37.90', '23.73', '2.0', '15.0']

In [60]:
data.write(out_dir+year+'_epw_file.epw')
data.dataframe

,Year,Month,Day,Hour,Minute,Data Source and Uncertainty Flags,Dry Bulb Temperature,Dew Point Temperature,Relative Humidity,Atmospheric Station Pressure,...,Ceiling Height,Present Weather Observation,Present Weather Codes,Precipitable Water,Aerosol Optical Depth,Snow Depth,Days Since Last Snowfall,Albedo,Liquid Precipitation Depth,Liquid Precipitation Quantity
0,1999,1,1,1,60,C9C9C9C9*0?9?9?9?9?9?9?9*0C8C8C8C8*0*0E8*0*0,5.000000,4.0,87.0,102400,...,77777,9,999999999,0,0.044,0,88,0.0,0.0,0.0
1,1999,1,1,2,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7A7A7A7A7*0E8*0*0,5.000000,2.9,81.0,102600,...,1350,9,999999999,0,0.044,0,88,0.0,0.0,0.0
2,1999,1,1,3,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,5.000000,2.2,81.0,102700,...,1350,9,999999999,0,0.044,0,88,0.0,0.0,0.0
3,1999,1,1,4,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,3.888889,1.9,81.0,102800,...,1350,9,999999999,0,0.044,0,88,0.0,0.0,0.0
4,1999,1,1,5,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,3.888889,1.8,81.0,102800,...,1350,9,999999999,0,0.044,0,88,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,1987,12,31,20,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7A7A7A7A7*0E8*0*0,2.222222,7.3,67.5,101600,...,22000,9,999999999,0,0.045,0,88,0.0,0.0,0.0
8756,1987,12,31,21,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7B8B8A7*0*0E8*0*0,2.222222,7.4,62.5,101600,...,22000,9,999999999,0,0.045,0,88,0.0,0.0,0.0
8757,1987,12,31,22,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7B8B8A7*0*0E8*0*0,2.500000,7.1,54.0,101700,...,22000,9,999999999,0,0.045,0,88,0.0,0.0,0.0
8758,1987,12,31,23,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7A7A7A7A7*0E8*0*0,1.666667,6.4,56.0,101900,...,22000,9,999999999,0,0.045,0,88,0.0,0.0,0.0
8759,1987,12,31,24,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7B8B8A7*0*0E8*0*0,1.111111,5.3,75.5,102100,...,22000,9,999999999,0,0.045,0,88,0.0,0.0,0.0